    QWidget {

        background: #76d7c4;
        font-family: "Lucida Console", "Courier New", monospace;

    }

    QToolBar {

        border: 1px solid #262d37;

    }

    QLabel {

        color: #16181a;

    }

    QPushButton {

        background: transparent; 
        color: #2e86c1; 
        border-radius: 5px; 
        margin-top: 4px; 
        margin-right: 4px;
        border: 1px solid #2e86c1;

    }

    QPushButton:hover {

        background: #2e86c1;  
        color: #FFFFFF;
        margin-top: 0px; 
        margin-right: 0px;

    }

    QPushButton:disabled {

        background: #aeaeae;

    }

    QSpinBox {

        color: #000000;

    } 